@charset "UTF-8";
:root {
  --brandblack: #000000;
  --brandblue: #2196f3;
  --hoverblue: #188ce8;
  --txtgrey: #757575;
  --txtblack: #212121;
  --subtext: rgba(255, 255, 255, 0.6);
  --svglinkgrey: #afb1b8;
  --bglight: #f5f4fa;
  --bgnoimg: #C4C4C4;
  --bgdark: #2f303a;
  --white-color: #ffffff;
  --footersubcolor: rgba(255, 255, 255, 0.6);
  --bdrcolor: #ececec;
  --mainspacer: 30px;
  --anitimfnc: cubic-bezier(0.4, 0, 0.2, 1);
  --mainfont: "roboto";
  --logofont:"raleway";
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

*:focus {
  outline: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  font-family: var(--mainfont), sans-serif;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  color: var(--txtgrey);
  background-color: var(--white-color);
}

.hide {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  margin: -1px;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
}

.hand {
  cursor: pointer;
}

.link {
  text-decoration: none;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 1200px;
  padding: 0 calc(var(--mainspacer) / 2);
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--txtblack);
}

.section__subtitle {
  text-transform: uppercase;
  color: currentColor;
  font-size: 14px;
}

.acent {
  color: var(--brandblue);
}

.logo,
.logo:focus,
.logo:hover {
  /* outline: 1px solid red; */
  /* display: block;
  padding-top: 24px;
  padding-bottom: 25px; */
  font-family: var(--logofont);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
  color: var(--brandblack);
  text-decoration: none;
}

.logo--dark,
.logo--dark:focus,
.logo--dark:hover {
  color: var(--white-color);
}

.btn {
  /* outline: 1px solid red; */
  /* display: block; */
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  margin-top: var(--mainspacer);
  padding: 10px 0;
  width: 200px;
  font-family: inherit;
  color: var(--white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--brandblue);
  -webkit-transition: background-color 250ms var(--anitimfnc), -webkit-box-shadow 250ms var(--anitimfnc);
  transition: background-color 250ms var(--anitimfnc), -webkit-box-shadow 250ms var(--anitimfnc);
  transition: background-color 250ms var(--anitimfnc), box-shadow 250ms var(--anitimfnc);
  transition: background-color 250ms var(--anitimfnc), box-shadow 250ms var(--anitimfnc), -webkit-box-shadow 250ms var(--anitimfnc);
}
.btn:hover, .btn:focus {
  background-color: var(--hoverblue);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.btn__icon {
  margin-left: 10px;
}

.site-nav {
  /* outline: 1px solid red; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
}

.site-nav__item:not(:first-child) {
  margin-left: 50px;
}

.site-nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--txtblack);
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: color 250ms var(--anitimfnc), -webkit-transform 250ms var(--anitimfnc);
  transition: color 250ms var(--anitimfnc), -webkit-transform 250ms var(--anitimfnc);
  transition: transform 250ms var(--anitimfnc), color 250ms var(--anitimfnc);
  transition: transform 250ms var(--anitimfnc), color 250ms var(--anitimfnc), -webkit-transform 250ms var(--anitimfnc);
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--brandblue);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.site-nav__link--current {
  color: var(--brandblue);
}

.site-nav__link--current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  display: block;
  background-color: var(--brandblue);
  width: 100%;
  height: 4px;
  border-radius: 2px;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: -webkit-transform 250ms var(--anitimfnc);
  transition: -webkit-transform 250ms var(--anitimfnc);
  transition: transform 250ms var(--anitimfnc);
  transition: transform 250ms var(--anitimfnc), -webkit-transform 250ms var(--anitimfnc);
}

.site-nav__link--current:hover::after {
  -webkit-transform: scaleX(1.1);
          transform: scaleX(1.1);
}

.site-contact {
  /* outline: 1px solid green; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.site-contact__link {
  /* outline: 1px solid red; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: currentColor;
  -webkit-transition: color 250ms var(--anitimfnc), -webkit-transform 250ms var(--anitimfnc);
  transition: color 250ms var(--anitimfnc), -webkit-transform 250ms var(--anitimfnc);
  transition: transform 250ms var(--anitimfnc), color 250ms var(--anitimfnc);
  transition: transform 250ms var(--anitimfnc), color 250ms var(--anitimfnc), -webkit-transform 250ms var(--anitimfnc);
}
.site-contact__link:hover, .site-contact__link:focus {
  color: var(--brandblue);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.site-contact__icon {
  margin-right: 10px;
  fill: currentColor;
}

.site-contact__item:not(:first-child) {
  margin-left: 50px;
}

.member-card {
  margin-left: var(--mainspacer);
  width: calc((100% - var(--mainspacer) * 3) / 4);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  text-align: center;
  background-color: var(--white-color);
}
.member-card:nth-child(4n+1) {
  margin-left: 0;
}

.member-card__photo {
  display: block;
  max-width: 100%;
  height: auto;
}

.member-card__name {
  font-weight: 500;
  font-size: inherit;
  line-height: calc(16px / inherit);
  letter-spacing: 0.03em;
  color: var(--txtblack);
  margin-bottom: 10px;
}

.member-card__position {
  margin-bottom: 16px;
}

.member-card__text {
  padding-top: var(--mainspacer);
  padding-bottom: var(--mainspacer);
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.socials__item {
  width: 44px;
  height: 44px;
  margin-left: 10px;
}
.socials__item:first-child {
  margin-left: 0;
}

.socials--dark .socials__link {
  background: rgba(255, 255, 255, 0.1);
  fill: var(--white-color);
}

.socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  fill: var(--svglinkgrey);
  -webkit-transition: background-color 250ms var(--anitimfnc), fill 250ms var(--anitimfnc);
  transition: background-color 250ms var(--anitimfnc), fill 250ms var(--anitimfnc);
}
.socials__link:hover, .socials__link:focus {
  fill: var(--white-color);
  background-color: var(--brandblue);
}

.page-header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  border-bottom: 1px solid var(--bdrcolor);
  background-color: var(--white-color);
}
.page-header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-header__nav {
  /* outline: 1px solid red; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bgdark);
  color: var(--white-color);
}
.page-footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-footer__address {
  margin-top: 20px;
  font-style: inherit;
  line-height: 1.5;
}

.page-footer__list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.page-footer__item:not(:first-child) {
  margin-top: 9px;
  margin-left: 0px;
}

.page-footer__link {
  padding: 0;
  color: var(--footersubcolor);
}

.follow {
  margin-left: 70px;
  margin-top: 12px;
}

.follow__title {
  display: inline-block;
  margin-bottom: 20px;
}

.subscribe {
  margin-left: auto;
  margin-top: 9px;
}

.subscribe__title {
  margin-bottom: 20px;
}

.subscribe__input {
  width: 358px;
  padding: 15px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--white-color);
}
.subscribe__input::-webkit-input-placeholder {
  color: var(--footersubcolor);
}
.subscribe__input::-moz-placeholder {
  color: var(--footersubcolor);
}
.subscribe__input:-ms-input-placeholder {
  color: var(--footersubcolor);
}
.subscribe__input::-ms-input-placeholder {
  color: var(--footersubcolor);
}
.subscribe__input::placeholder {
  color: var(--footersubcolor);
}

.subscribe__btn {
  margin-top: 0px;
  margin-left: 10px;
}

.hero {
  text-align: center;
}
.hero .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 600px;
  max-width: 1600px;
  margin: auto;
  background-color: var(--backgndnoimg);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/mainhero-bg.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mainhero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__slogan {
  /* outline: 1px solid red; */
  margin: auto;
  max-width: 670px;
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636363636;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms var(--anitimfnc);
  transition: opacity 250ms var(--anitimfnc);
}

.backdrop--is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  width: 528px;
  height: 581px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: var(--white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms var(--anitimfnc), -webkit-box-shadow 250ms var(--anitimfnc);
  transition: -webkit-transform 250ms var(--anitimfnc), -webkit-box-shadow 250ms var(--anitimfnc);
  transition: transform 250ms var(--anitimfnc), box-shadow 250ms var(--anitimfnc);
  transition: transform 250ms var(--anitimfnc), box-shadow 250ms var(--anitimfnc), -webkit-transform 250ms var(--anitimfnc), -webkit-box-shadow 250ms var(--anitimfnc);
}
.backdrop--is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
}

.modal__closebtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.modal__closeicn {
  -webkit-transition: fill 250ms var(--anitimfnc);
  transition: fill 250ms var(--anitimfnc);
}
.modal__closebtn:hover .modal__closeicn {
  fill: var(--brandblue);
}

.modal__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--txtblack);
}

.modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.modal__field:not(:first-child) {
  margin-top: 10px;
}

.modal__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
}

.modal__input {
  padding: 11px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.01em;
  -webkit-transition: border-color 250ms var(--anitimfnc);
  transition: border-color 250ms var(--anitimfnc);
}
.modal__input:focus {
  border-color: var(--brandblue);
}

.modal__input-wrap {
  position: relative;
}

.modal__icon {
  position: absolute;
  left: 11px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill 250ms var(--anitimfnc);
  transition: fill 250ms var(--anitimfnc);
}

.modal__input:focus + .modal__icon {
  fill: var(--brandblue);
}

.modal__comment {
  resize: none;
  width: 100%;
  padding: 11px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 250ms var(--anitimfnc);
  transition: border-color 250ms var(--anitimfnc);
}
.modal__comment::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal__comment::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal__comment:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal__comment::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal__comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal__comment:focus {
  border-color: var(--brandblue);
}

.modal__submitbtn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.license {
  margin: 20px auto 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
}

.license__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.license__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid var(--brandblack);
  border-radius: 2px;
  -webkit-transition: background-color 250ms var(--anitimfnc);
  transition: background-color 250ms var(--anitimfnc);
}

.license__input:checked + .license__label .license__wrap {
  background-color: var(--brandblue);
  border: none;
}

.license__input:focus + .license__label .license__wrap {
  border-color: var(--brandblue);
}

.license__link {
  text-decoration: underline;
  margin-left: 0.5em;
}
.license__link:hover, .license__link:focus {
  text-decoration: none;
}

.benefits {
  padding-bottom: 0;
}

.benefits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* margin: 0; */
}

.benefits__item {
  /* outline: 1px solid red; */
  margin-left: var(--mainspacer);
  width: calc((100% - var(--mainspacer) * 3) / 4);
}
.benefits__item:nth-child(4n+1) {
  margin-left: 0;
}

.benefits__thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--bglight);
  border-radius: 4px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: var(--mainspacer);
}

.benefits__title {
  /* outline: 1px solid red; */
  font-weight: 700;
  font-size: inherit;
  line-height: calc(16px / inherit);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--txtblack);
}

.benefits__descr {
  /* outline: 1px solid red; */
  margin-top: 10px;
  padding-top: 1px;
  padding-bottom: 2px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
}

.occupation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* justify-content: space-between; */
}

.occupation__item {
  position: relative;
  /* display: block; */
  width: calc((100% - var(--mainspacer) * 2) / 3);
  margin-left: var(--mainspacer);
}
.occupation__item:nth-child(3n+1) {
  margin-left: 0;
}

.occupation__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.occupation__title {
  padding: 27px 0;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  color: var(--white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: var(--bglight);
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.clients__item {
  width: calc((100% - var(--mainspacer) * 5) / 6);
  height: 92px;
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  fill: var(--svglinkgrey);
  -webkit-transition: border-color 250ms var(--anitimfnc), fill 250ms var(--anitimfnc);
  transition: border-color 250ms var(--anitimfnc), fill 250ms var(--anitimfnc);
}
.clients__link:hover, .clients__link:focus {
  fill: var(--brandblue);
  border-color: var(--brandblue);
}

.project {
  /* outline: 1px solid red; */
  margin-top: var(--mainspacer);
  margin-left: var(--mainspacer);
  width: calc((100% - var(--mainspacer) * 2) / 3);
}
.project:nth-child(3n+1) {
  margin-left: 0;
}

.project__link {
  display: block;
  color: var(--txtgrey);
  -webkit-transition: -webkit-box-shadow 250ms var(--anitimfnc);
  transition: -webkit-box-shadow 250ms var(--anitimfnc);
  transition: box-shadow 250ms var(--anitimfnc);
  transition: box-shadow 250ms var(--anitimfnc), -webkit-box-shadow 250ms var(--anitimfnc);
}
.project__link:hover, .project__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project__thumb {
  position: relative;
  overflow: hidden;
}

.project__dscr {
  /* opacity: 0; */
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 24px;
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
  color: var(--white-color);
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform 250ms var(--anitimfnc);
  transition: -webkit-transform 250ms var(--anitimfnc);
  transition: transform 250ms var(--anitimfnc);
  transition: transform 250ms var(--anitimfnc), -webkit-transform 250ms var(--anitimfnc);
}
.project__link:hover .project__dscr, .project__link:focus .project__dscr {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

/* .project-link:hover .project-dscr {
    opacity: 1;
} */
.project__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.project__text {
  padding: 20px 24px;
  border: 1px solid var(--bdrcolor);
  border-top: none;
}

.project__name {
  /* outline: 1px solid red; */
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--txtblack);
}

.project__type {
  /* outline: 1px solid red; */
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
}

.project-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project-filter__btn {
  /* outline: 1px solid red; */
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--txtblack);
  border: none;
  border-radius: 4px;
  background-color: var(--bglight);
  -webkit-transition: color 250ms var(--anitimfnc), background-color 250ms var(--anitimfnc), -webkit-box-shadow 250ms var(--anitimfnc);
  transition: color 250ms var(--anitimfnc), background-color 250ms var(--anitimfnc), -webkit-box-shadow 250ms var(--anitimfnc);
  transition: box-shadow 250ms var(--anitimfnc), color 250ms var(--anitimfnc), background-color 250ms var(--anitimfnc);
  transition: box-shadow 250ms var(--anitimfnc), color 250ms var(--anitimfnc), background-color 250ms var(--anitimfnc), -webkit-box-shadow 250ms var(--anitimfnc);
}
.project-filter__btn:hover, .project-filter__btn:focus {
  cursor: pointer;
  color: var(--white-color);
  background-color: var(--brandblue);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-filter__item:not(:first-child) {
  margin-left: 8px;
}

/* галерея */
.portfolio__projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
}/*# sourceMappingURL=main.css.map */