.logo,
.logo:focus,
.logo:hover {
    /* outline: 1px solid red; */
    /* display: block;
    padding-top: 24px;
    padding-bottom: 25px; */
    font-family: var(--logofont);
    @include font (700, 26px, 31px);
    // font-weight: 700;
    // font-size: 26px;
    // line-height: 1.19;
    // letter-spacing: 0.03em;
    color: var(--brandblack);
    text-decoration: none;
}

.logo--dark,
.logo--dark:focus,
.logo--dark:hover {
    color: var(--white-color);
}