.logo,
.logo:focus,
.logo:hover {
    font-family: var(--logofont);
    color: var(--brandblack);
    text-decoration: none;
    @include font(700, 24px, 28px);
    @media screen and (max-width: 767px) {
        padding: 16px 0;
    }
    @include desktop {
        @include font (700, 26px, 31px);
    }
    
}

.logo--dark,
.logo--dark:focus,
.logo--dark:hover {
    color: var(--white-color);
}