.section {
    padding-top: 60px;
    padding-bottom: 60px;
    @include desktop {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.section__title {
    margin-bottom: 30px;
    @include font(700, 28px, 33px);
    @include desktop {
        margin-bottom: 50px;
        @include font(null, 36px, 42px, null);
    }
    text-align: center;
    color: var(--txtblack);
}

.section__subtitle {
    display: block;
    text-transform: uppercase;
    color: currentColor;
    font-size: 14px;
}