.site-contact {
    /* outline: 1px solid green; */
        display: flex;
    @include tablet {
        margin-left: auto;
        // align-items: flex-start;
        justify-content: center;
        gap: 10px;
    }
    @media screen and (max-width: 1199px) {
        flex-direction: column;
    }
    @include desktop {
        gap: 50px;
    }
    
}

@media screen and (max-width: 767px) {
    
    .site-contact__icon {
        display: none;
    }
    
}

.site-contact__link {
    /* outline: 1px solid red; */
    // @include tablet {
        
    // }
    @include desktop {
        display: flex;
        align-items: center;
        padding: 32px 0;
    }
    // padding-bottom: 32px;
    color: currentColor;
    transition:
        transform 250ms var(--anitimfnc),
        color 250ms var(--anitimfnc);
    &:hover,
    &:focus {
        color: var(--brandblue);
        transform: scale(1.05);
    }
}

.site-contact__icon {
    margin-right: 10px;
    fill: currentColor;
}
