.socials {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.socials__item {
    width: 44px;
    height: 44px;
}

.socials--dark {
    .socials__link {
        background: rgba(255, 255, 255, 0.1);
        fill: var(--white-color);
    }
}

.socials__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    fill: var(--svglinkgrey);
    transition:
        background-color 250ms var(--anitimfnc),
        fill 250ms var(--anitimfnc);
    &:hover,
    &:focus {
        fill: var(--white-color);
        background-color: var(--brandblue);
    }
}
