:root {
    --brandblack: #000000;
    --brandblue: #2196f3;
    --hoverblue: #188ce8;
    --txtgrey: #757575;
    --txtblack: #212121;
    --subtext: rgba(255, 255, 255, 0.6);
    --svglinkgrey: #afb1b8;
    --bglight: #f5f4fa;
    --bgnoimg: #C4C4C4;
    --bgdark: #2f303a;
    --white-color: #ffffff;
    --footersubcolor: rgba(255, 255, 255, 0.6);
    --bdrcolor: #ececec;
    --mainspacer: 30px;
    --anitimfnc: cubic-bezier(0.4, 0, 0.2, 1);
    --mainfont: 'roboto';
    --logofont:'raleway';
}